html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-family: 'Titillium Web', sans-serif;
}
body {
  background: black;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100em;
}
.video-wrapper[state="active"] > .overlay-img,
.video-wrapper[state="active"]:after {
  opacity: 0 !important;
}
.video-wrapper.widescreen {
  height: 56.25em;
}
.video-wrapper.widescreen[scale="width"] {
  font-size: 1vw;
}
.video-wrapper.widescreen[scale="height"] {
  font-size: 1.77777777777vh;
}
.video-wrapper > .overlay-img {
  background-size: cover;
  transition: all 300ms;
  opacity: 1;
}
.video-wrapper > .overlay-img,
.video-wrapper:after {
  display: block;
  content: "";
}
.video-wrapper > .overlay-img,
.video-wrapper:after,
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
#header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 1;
  padding: 20px;
}
#header.top {
  top: 0;
  background: rgba(0, 0, 0, 0.35);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.35), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.35), transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.35), transparent);
  /* Standard syntax */
}
#header.bottom {
  bottom: 0;
  top: auto;
  background: transparent;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* Standard syntax */
}
#header.bottom .navigation {
  position: absolute;
  bottom: 20px;
}
#header,
#header a {
  color: white;
}
#header a {
  opacity: .5;
  transition: opacity 150ms;
}
#header a:hover {
  opacity: 1;
}
#video-overlay {
  transition: filter 250ms ease-out;
}
.navigation {
  font-size: 18px;
}
.navigation li {
  height: 1em;
  display: inline-block;
}
.navigation li + li {
  margin-left: 20px;
}
.navigation a {
  text-decoration: none;
}
.text-overlay {
  position: relative;
  padding: 20px;
  color: white;
  font-size: 32px;
  z-index: 100;
}
.logo {
  display: block;
  height: 27px;
  width: 155px;
  margin: -5px 0;
}
.logo > a {
  position: absolute;
}
#sidebar {
  position: fixed;
  width: 440px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 0 rgba(255, 255, 255, 0.05) inset;
  transition: 0.25s 0.1s ease-out;
}
.article.video {
  position: relative;
  padding: 10px 15px;
  transition: transform .2s;
  cursor: pointer;
}
.article.video + .article.video {
  box-shadow: 0 -16px 0 -15px rgba(255, 255, 255, 0.075);
}
.article.video:after {
  content: "";
  display: block;
  clear: both;
}
.article.video:before {
  display: block;
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: #333333;
  transform: scale(0);
  transition: .06s;
}
.article.video:hover {
  z-index: 10;
  position: relative;
  left: 1px;
  transform: translateX(-4px);
  transition: transform .4s;
}
.article.video:hover:before {
  transform: none;
}
.article.video .article-thumb {
  position: relative;
  float: left;
  margin-right: 20px;
}
.article.video .article-thumb,
.article.video .article-thumb .thumb-img {
  width: 128px;
  height: 72px;
  width: 160px;
  height: 90px;
}
.active.article.video .article-thumb:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border-radius: 100px;
  width: 64px;
  height: 64px;
  background: #0099ff url(../img/play-thumb.svg) no-repeat center;
  background-size: cover;
  transform: translate3d(-50%, -50%, 0) scale(0.5);
  transition: .1s;
  z-index: 1;
}
.active:hover.article.video .article-thumb:after {
  box-shadow: 0 0 0 3px #09f;
}
.article.video .article-meta {
  position: relative;
  float: left;
  width: 230px;
  height: 90px;
  line-height: 1.25;
}
.article.video .article-meta-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.article.video .thumb-img {
  position: relative;
  background-position: center;
  background-size: cover;
}
.active.article.video .thumb-img {
  filter: grayscale(1);
}
.article.video .title {
  margin-bottom: 4px;
}
.article.video .category {
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
}
.active.article.video .category {
  color: #09f;
}
.sidebar-title {
  padding: 15px 15px 10px;
  font-size: 24px;
}
.control-quality {
  position: fixed;
  right: 50px;
  top: 10px;
  width: 60px;
  z-index: 100;
  padding: 1.5em .5em .25em;
  line-height: 1.25em;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  font-size: .875em;
  background: rgba(30, 30, 30, 0.4);
  opacity: .75;
  cursor: pointer;
}
.control-quality.active .level {
  display: block;
}
.control-quality .level {
  display: none;
  position: relative;
}
.control-quality .level.active {
  position: absolute;
  display: block;
  top: .25em;
  left: 0;
  width: 100%;
}
.control-quality:hover {
  opacity: 1;
}
.controls {
  position: fixed;
  bottom: 0;
  height: 10px;
  width: auto;
  left: 0;
  right: 0;
  padding: 0 20px 36px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 500ms, transform 0s 500ms;
  background: transparent;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  /* Standard syntax */
}
.controls[state="active"] {
  transition: opacity 500ms, transform 300ms;
  transform: translateY(0%);
  opacity: .5;
}
.controls:hover {
  transform: translateY(0%);
  opacity: 1;
}
.controls .control-panel {
  padding-left: 30px;
}
.controls .control-play,
.controls .control-volume {
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: .75;
}
.controls .control-play:hover,
.controls .control-volume:hover {
  opacity: 1;
}
.controls .control-volume {
  left: 55px;
  background: url(../img/speaker@2x.png) center no-repeat;
  background-size: 35px !important;
}
.controls .control-volume[state="mute"] {
  background: url(../img/speaker-off@2x.png) center no-repeat;
}
.controls .control-play {
  left: 10px;
  background: url(../img/play-button.svg) center no-repeat;
}
.controls .control-play[state="paused"] {
  background: url(../img/play-button.svg) center no-repeat;
}
.controls .control-play[state="playing"] {
  background: url(../img/pause-button.svg) center no-repeat;
}
.controls .time,
.controls .duration {
  position: absolute;
  color: white;
  bottom: 18px;
  text-align: center;
}
.controls .time {
  left: 105px;
}
.controls .duration {
  right: 30px;
}
.controls .time-controls {
  margin: 0 72px 0 122px;
}
.controls .progress-slider {
  padding: 0 3px;
  margin-top: -100px;
  padding-top: 100px;
}
.controls .progress-track {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 6px 0;
  height: 20px;
  width: 100%;
}
.controls .progress-track:before {
  content: "";
  display: block;
  width: auto;
  background: rgba(255, 255, 255, 0.4);
}
.controls .progress-track:hover:before {
  background: rgba(255, 255, 255, 0.5);
}
.controls .progress-track:before,
.controls .progress-track .progress {
  position: absolute;
  height: 4px;
  margin: 3px 0;
  border-radius: 4px;
  width: 100%;
}
.controls .progress-track .progress {
  display: block;
  width: 0;
  background: #09f;
}
.controls .progress-track .slider-handle {
  position: absolute;
  width: 20px;
  margin: 3px 0;
  height: 4px;
  opacity: 1;
}
.controls .progress-track .slider-handle:before {
  content: "";
  display: inline-block;
  position: absolute;
  margin: -10px;
  height: 20px;
  width: 20px;
  left: 50%;
  top: 50%;
  border-radius: 20px;
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
