.clearfix{
	&:after {
	    content:"";
	    display:block;
	    clear:both;
	}
}

.gradient(@f, @b){
	background: @f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@f, @b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@f, @b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@f, @b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@f, @b); /* Standard syntax */
}

body{ font-family: 'Titillium Web', sans-serif;}

body{
	background: black;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.video-wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	// position: relative;
	width: 100em;
	&[state="active"]{
		> .overlay-img, &:after{
			opacity: 0 !important;
		}
	}
	&.widescreen{
		height: 56.25em;
		&[scale="width"]{
			font-size: 1vw;
		}
		&[scale="height"]{
			font-size: 1.77777777777vh;
		}
	}

	> .overlay-img{
		background-size: cover;
		transition: all 300ms;
		opacity: 1;
	}
	> .overlay-img, &:after{
		display: block;
		content: "";
	}
	> .overlay-img, &:after, > iframe{
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		height: 100%; width: 100%;
	}
}

#header{
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 1;
	padding: 20px;
	&.top{
		top: 0;
		.gradient(fade(black, 35), transparent);
	}
	&.bottom{
		bottom: 0; top: auto;
		.gradient(transparent, fade(black, 35));
		.navigation{ position: absolute; bottom: 20px; }
	}
	&, a{
		color: white;
	}
	a{
		opacity: .5;
		transition: opacity 150ms;
		&:hover{
			opacity: 1;
		}
	}
}

#video-overlay{
	transition: filter 250ms ease-out;
}

.navigation{
	font-size: 18px;
	li{	
		height: 1em;
		display: inline-block;				
	}
	li+li{
		margin-left: 20px;
	}	
	a{
		text-decoration: none;
	}
}

.text-overlay{
	position: relative;
	padding: 20px;
	color: white;
	font-size: 32px;
	z-index: 100;
}

.logo{
	display: block;
    height: 27px;
    width: 155px;
    margin: -5px 0;	
    > a{
		position: absolute;
    }
}

#sidebar{
	position: fixed;
	width: 440px;
	height: 100vh;
	top: 0;
	right: 0;
	z-index: 1;
	color: white;
	background: fade(black, 60);	
	box-shadow: 1px 0 fade(white, 5) inset;
	// transform: translateX(100%);
    transition: .25s .1s ease-out;	
}

.article.video{
	& + .article.video{
		box-shadow: 0 -16px 0 -15px fade(white, 7.5);
	}
	.clearfix;
	@padding: 10px;
	position: relative;
	padding: @padding @padding+5;
	transition: transform .2s;
	cursor: pointer;
	&:before{
		display: block;
		content: "";
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: -2px;
		right: -2px;
		@c: #333;
		background: @c;
		transform: scale(0.00);
		transition: .06s;
	}
	&:hover{
		&:before{
			transform: none;
		}
		@c: #333;
		// box-shadow: 0px 0 0 2px #333333,  -2px 0px 0 2px #999 !important;
		// box-shadow: 1px 0 0 2px @c !important;
	    z-index: 10;
	    position: relative;
	    left: 1px;
	    transform: translateX(-4px);
		transition: transform .4s;		
	}
	.article-thumb{
		position: relative;
		float: left;
		margin-right: @padding * 2;
		&, .thumb-img{
			width: 128px;
			height: 72px;
			width: 160px;
			height: 90px;			
		}
		.active&:after, .active&:before{
			position: absolute;
			display: block;
			content: "";
			width: 64px; height: 64px;
			top: 50%; left: 50%;
		}
		.active&:before{
			border-radius: 100px;
			box-shadow: 0 0 0 3px #09f;
			background: #09f;
			transform: translate3d(-50%, -50%, 0);			
		}
		.active&:after{
			border: 4px solid;
			border-right: black;
		}
	}
	.article-meta{
		position: relative;
		float: left;
		width: 230px;
		height:  90px;
		line-height: 1.25;
	}
	.article-meta-inner{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.thumb-img{
		position: relative;
		background-position: center;
		background-size: cover;
		.active& {
			filter: grayscale(1);
		}
	}
	.title{
		margin-bottom: 4px;
	}
	.category{
	    font-weight: 700;
	    text-transform: uppercase;
	    color: #999;
	    .active& {
	    	color: #09f;
	    }
	}
}

@import "components/controls";